/* .container{
    background-color: aqua;
    p{
        background-color: antiquewhite;
        width: 100%;
    }
} */

.txt{
    width: 70%;
    

}
.title{
    text-decoration: none;
    font-size: 27px;
    font-weight: bold;
    margin-left: 15px;
}
button{
    position: absolute;
    left: 550px;
    margin-top: 10px;
    margin-bottom: 10px;
    top: 600px;
}
